@using SmartWorkout.Entities
@page "/exercise/add"
@page "/exercise/edit/{ExerciseId:int}"
@rendermode InteractiveServer



<AuthorizeView Roles="Administrator" Context="authContext">
	<NotAuthorized>
		Only Admins Have Acces To This page <a href="/">go back</a>
	</NotAuthorized>
	<Authorized>
		<h3>AddOrEdit Exercise</h3>



		<EditForm Model="@exerciseDto" OnValidSubmit=@SaveExercise FormName="editForm">
			<DataAnnotationsValidator />
			<div class="form-group">
				<label>Description :</label>
				<div>
					<InputText @bind-Value="exerciseDto.Description" class="form-control col-sm-3" />
					<ValidationMessage For="@(() => exerciseDto.Description)" />
				</div>
			</div>
			<div class="form-group">
				<label>Type :</label>
				<div>
					<InputText @bind-Value="exerciseDto.Type" class="form-control col-sm-3" />
					<ValidationMessage For="@(() => exerciseDto.Type)" />
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Save" />
			</div>
		</EditForm>

	</Authorized>
</AuthorizeView>